#track-intro {
  display: none;
}

#track-webdev {
  display: none;
}

#track-ruby {
  display: none;
}

#track-php {
  display: none;
}

#track-java {
  display: none;
}

#track-csharp {
  display: none;
}

#more-info {
  display: none;
  color: red;
}
